@page "/categories/delete/{id:int}"
@inject AppDbContext _context
@inject NavigationManager _navigationManager;

<EditForm Model="_model" OnValidSubmit="@HandleSubmitAsync" class="delete-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <h1>Quer mesmo deletar <br /><strong>@_model?.Title</strong>?</h1>

    <button class="mt-3 btn btn-danger" type="submit">Sim, quero deletar</button>
    <a href="/categories">Não, voltar para início</a>

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <div class="mt-3 alert alert-danger" role="alert">
            @_errorMessage
        </div>
    }
</EditForm>

@code {
    Category? _model = new();
    string? _errorMessage = null;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _model = await _context.Categories.FindAsync(Id);
    }

    async Task HandleSubmitAsync()
    {
        if (_model == null) throw new Exception("Nenhuma categoria encontrada");
        try
        {
            _context.Remove(_model);
            await _context.SaveChangesAsync();
            _navigationManager.NavigateTo("/categories");
        }
        catch
        {
            _errorMessage = "Não foi possível deletar a categoria";
        }
    }
}
