body {
    background-color: azure;
}

.btn.btn-delete {
    margin-left: 10px;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}