@page "/products";
@inject AppDbContext _context;

<div class="d-flex align-items-center head mb-4">
    <h1>Produtos cadastrados</h1>
    <a href="products/create" class="btn btn-1">Novo produto</a>
</div>

<table class="list">
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Preço</td>
        <td>Categoria</td>
        <td class="text-center action">Editar</td>
        <td class="text-center action">Deletar</td>
    </tr>
    @foreach (var produto in _products)
    {
        <tr asp-id=@produto.Id>
            <td>@produto.Id</td>
            <td>@produto.Title</td>
            <td>@produto.Price.ToString("C", new CultureInfo("pt-BR"))</td>
            <td>@produto.ProductCategory.Title</td>
            <td class="text-center action">
                <a href="/products/edit/@produto.Id"><i class="fa-solid fa-pen"></i></a>
            </td>
            <td class="text-center action">
                <a class="ml-3 btn btn-delete" href="/products/delete/@produto.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }
</table>

@code {
    //Product _model = new();
    List<Product> _products = new();
    string? _errorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        _products = await _context.Products
        .Include(x => x.ProductCategory)
        .AsNoTracking()
        .ToListAsync();
    }
}